# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Override files you don't intend to commit
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (optional - some teams commit it, some don't)
.terraform.lock.hcl

# CLI configuration files
.terraformrc
terraform.rc

# Sensitive variable files
*.tfvars
*.tfvars.json

# Ignore any local .tfplan files
*.tfplan
